<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xchange</title>
    <!-- css files -->
    <link rel="stylesheet" href="{% static 'system/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'system/css/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'system/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'system/css/login.css' %}">

    <!-- js files -->
    <script type="text/javascript" src="{% static 'system/js/jquery-3.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'system/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'system/js/bootstrap-table.js' %}"></script>
    <script type="text/javascript" src="{% static 'system/js/bootstrap-table-zh-CN.js' %}"></script>
    <script type="text/javascript" src="{% static 'system/js/login.js' %}"></script>
</head>
<body style="background: url({% static 'system/img/mountain_night.jpg' %})">
<div id="global_login_are" class="jumbotron" style="background-color: #000000; opacity: 0.2">
    <div class="container">
    </div>
</div>
</body>
</html>